<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Talent</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-table/bootstrap-table.min.css">
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
</head>
<body>
<div class="container">

    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-10">
                <input class="form-control" id="q" placeholder="input here...">
            </div>
        </div>
        <button type="button" class="btn btn-primary" onclick="query()">查询</button>
    </form>

    <!-- Panel Other -->
    <div id="table-div" style="display: none;">
    <table id="listTable"></table>
    </div>
</div>
<script>
    var strapTable = function (tableId, dataUrl, queryParam, columnsData) {
        $('#' + tableId).bootstrapTable('destroy');
        $('#' + tableId).bootstrapTable({
            url: dataUrl,
            contentType: "application/x-www-form-urlencoded",
            method: 'post',
            cache: false,
            pagination: true,
            paginationLoop: true,
            queryParams: queryParam,
            sidePagination: "server",
            pageSize: 10,
            pageList: [10, 20, 50],
            columns: columnsData,
            toggle: 'table',
            singleSelect: true,
            height: 520,
            clickToSelect: true
        });
    }

    $(function () {
        strapTable('listTable', 'api/talent/search', paginationParam, columnsData);
    });

    function paginationParam(params) {
        return {
            limit: params.limit,
            page: $('#listTable').bootstrapTable('getOptions').pageNumber,
            q: $('#q').val()
        };
    }

    //初始化列表列
    var columnsData = [
        {
            field: 'doc',
            title: 'doc',
            align: 'center'
        }, {
            field: 'createTime',
            title: 'time',
            align: 'center',
            formatter: formatTime
        }, {
            title: '操作',
            align: 'center',
            formatter: formatOpr
        }];

    // 查询
    function query() {
        $('#listTable').bootstrapTable('refresh', {silent: true});
        $('#table-div').css("display", "inline");
    }

    function formatTime(value, row, index) {
        var unixTimestamp = new Date(value);
        return unixTimestamp.toLocaleString();
    }

    function formatOpr(value, row, index) {
        return "<button type='button' class='btn btn-primary btn-xs' onclick='download(\"" + row.id + "\")'>下载</button>"
    }

    function download(id) {
        window.location.href = "/api/talent/download?id=" + id;
    }

</script>
</body>
</html>